body {
    background: #f8f6f6;
    font-family: verdana;
    max-width: 900px;
    margin: auto;
}

.photo {
    margin-top: 10px;
    border: 1px #b9b8b8;
    border-radius: 50%;
}

#title, .subtitle, .post_title {
    color: purple;
}

#title {
    font-size: 40px;
    text-transform: uppercase;
}

.post_title {
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}

.post {
    background: #fff;
    padding: 15px;
    border: 3px solid #b9b8b8;
    margin-bottom: 15px;
    border-radius: 10px;
}

.post_content {
    margin: 0;
    margin-bottom: 15px;
    text-align: justify;
}

.post_image {
    margin-bottom: 15px;
}

a {
    color: #5a5757;
    text-decoration: line-through;
}

.contact_list {
    list-style-type: none;
    padding: 15px;
}

.contact_list li a {
    text-decoration: none;
}

